@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400&display=swap");

:root {
  --header-font: "Fira Sans", sans-serif;
  --body-font: Tahoma, sans-serif;
}

a:link,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: var(--header-font);
  font-weight: 300;
}

h2 {
  font-family: var(--header-font);
  font-size: 1.2rem;
  font-weight: 400;
}

html {
  font-family: var(--body-font);
  font-size: calc(0.8em + 0.5vw);
  width: 100%;
}

body {
  display: grid;
  color: #181818;
  background: white;
  min-height: 100vh;
  align-content: stretch;
  grid-template-rows: 10rem auto 1.4rem;
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
}

header {
  display: grid;
  width: 100%;
  align-items: center;
  justify-content: center;
  line-height: 4rem;
  text-align: center;
}

.menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: auto;
  padding: 1rem;
  max-width: 100%;
}

.menu button {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  border: none;
  border-radius: 100%;
  margin: 0 0.2rem;
  cursor: pointer;
}

.content {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 0.5rem;
}

#description {
  max-width: 40rem;
  padding-bottom: 2rem;
  text-align: center;
}


footer {
  background: #181818;
  font-family: var(--header-font);
  font-size: 0.7rem;
  font-weight: 300;
  color: whitesmoke;
  padding: 0.2rem;
  text-align: center;
  line-height: 1.0rem;
}

footer a:hover {
  color: white;
}
